RewriteEngine On
RewriteBase /firestorm-streak/

# Route anything that's not a real file or directory to index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?method=$1 [QSA,L]
#